@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    display:flex;
    font-family: 'Open Sans', sans-serif;
    background-color: #ecf0f1;
}

h1 {
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

input {
    font-size: 30px;
}

.clicked {
    color: #7f8c8d;
}

.btn {
    cursor: pointer;
}

.form,
.greetings {
    display: none;
    position:absolute; 
    top:75%; 
    left:6%; 
    margin-top:-100px;
    font-size:35px;
}

.showing {
    display: block;
}

.js-clock {
    position:absolute; 
    top:50%; 
    left:5%; 
    margin-top:-100px;
    font-size:40px;
}